body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #260707;
    color:#d6b479;
    display: flex;
  }
  
  .bottom-right {
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
  }
  
  /* main-bg: #260707;
    accent-red: #DC143C;
    gold-text: #d6b479;
    shadow-purple: #3e2a56;
    demon-purple: #5e17eb; */

.left-pane {
  
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  border-top-left-radius: 25px; /* Or any other value for radius */
  border-bottom-left-radius: 25px;
}

.right-pane {
 
  width: 70%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 25px; /* Or unset if you prefer default sharp corners */
  border-bottom-right-radius: 25px;
}


.tab-header {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  outline: none;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.tab-button.active {
  background-color: #fff;
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.tab-content {
  display: block;
}

.hidden {
  display: none;
}

.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw; /* <-- Add this */
  margin: 0;
  border-radius: 25px;
}

.tooltip{
  position:fixed;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
  display: none;
}

/* prevent svg text selection */
g{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.phrase-table-container {
  width: 100%;
  max-height: 650px; 
  overflow-y: auto;  /* Vertical scrolling */
  border: 1px solid #ccc;
  margin-top: 10px;
}

.phrase-table {
  width: 100%;
  border-collapse: collapse;
}

.phrase-table th,
.phrase-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.phrase-table th {
  background-color: #f2f2f2;
}
